@model List<Tareas.Models.ListaTarea>


<div class="container-fluid">
     <h1 class="text-center font-weight-bold">Lista de Tareas</h1>
</div>


<div class="card">
    <div class="card-header">
        <input class="btn btn-success" value="Agregar Tarea"/>
    </div>

    <div class="card-body table-responsive">
         <table class="table table-bordered">
              <thead>
                   <tr>
                       <th>Lista Id</th>
                       <th>Nombre</th>
                       <th>Descripcion</th>
                       <th>Fecha Inicio</th>
                       <th>Fecha Fin</th>
                       <th>Estatus</th>
                   </tr>
              </thead>
              <tbody>
                   @foreach (var tarea in Model)
                   {
                      <tr>
                        <td>@tarea.ListaId</td>
                        <td>@tarea.Nombre</td>
                        <td>@tarea.Descripcion</td>
                        <td>@Html.DisplayFor(f=> tarea.FechaFin)</td>
                        <td>@tarea.FechaFin</td>
                        <td>@tarea.Estatus</td>
                        <td><input type="submit" class="btn btn-info" value="Editar"/> @tarea.Estatus </td>
                        <td><input class="btn btn-danger" value="Eliminar" />@tarea.Estatus</td>
                      </tr>
                   }
              </tbody>
         </table>
    </div>
</div>